<div ng-controller="TestCtrl" class="container">
<span class="span_one">
 Value: {{value}}
</span>

    <div style="display:inline-block; min-height:290px;">
        <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
    </div>


    <div class="row">

        <div>
            <button type="button" class="btn btn-default btn-sm" ng-click="bringData()">BRING DATA</button>

            <div><input type="text" ng-model="nombre"></div>
            <div>
                <button type="button" class="btn btn-default btn-sm" ng-click="saveData()">SAVE DATA</button>
            </div>
            <div>{{tests}}</div>
        </div>
    </div>

    <div class="row">
    LISTA

        <table class="table table-bordered table-hover table-condensed">
            <tr style="font-weight: bold">
                <td style="width:35%">Id</td>
                <td style="width:25%">Nombre</td>
            </tr>
            <tr ng-repeat="test in tests">
                <td>
                    <!-- editable username (text with validation) -->
                    <span>
          {{ test.id || 'empty' }}
        </span>
                </td>
                <td>
                    <!-- editable username (text with validation) -->
                    <span editable-text="test.nombre" e-name="nombre" e-form="rowform" onbeforesave="checkName($data, test.id)">
          {{ test.nombre || 'empty' }}
        </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="saveTest($data, test.id,$index)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == test">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button type="button" class="btn btn-danger" ng-click="removeTest(test.id,$index)">del</button>
                    </div>
                </td>
            </tr>
        </table>

        <button type="button" class="btn btn-default" ng-click="addTest()">Add row</button>



    </div>

</div>